/* -----------------------
   FONT-FACE DECLARATIONS
------------------------ */

@font-face {
  font-family: 'Terminal';
  src: url('Terminal-Grotesque.woff2') format('woff2'),
       url('Terminal-Grotesque.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mess';
  src: url('Mess-Light.woff2') format('woff2'),
       url('Mess-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Terminal Open';
  src: url('TerminalGrotesque-Open.woff2') format('woff2'),
       url('TerminalGrotesque-Open.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Base';
  src: url('bianzhidai-Base.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Messier';
  src: url('bianzhidai-Messier.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Messy';
  src: url('bianzhidai-Messy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -----------------------
   BASE
------------------------ */

body {
  background-color: white;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-family: 'Terminal';
  text-decoration: none;
  color: #222;
}

a:hover {
  color: hotpink;
}

/* -----------------------
   TYPOGRAPHIE STRUCTURE
------------------------ */

h1.mess {
  font-family: 'Mess';
  font-size: 128px;
  color: #ff0b00;
  margin: -150px 0 30px 200px;
}

h1.terminal {
  font-family: 'Terminal';
  font-size: 128px;
  color: #ffb0b0;
  margin: -180px 0 0 200px;
}

h2 {
  font-family: 'Terminal';
  font-size: 52px;
  color: black;
  background-color: chartreuse;
}

h2:hover {
  background-color: aqua;
}

h3 {
  font-family: 'Messy';
  font-size: 64px;
  color: hotpink;
  margin-bottom: 0;
}

h3:hover {
  color: black;
}

/* -----------------------
   SPÉCIFIQUE PSEUDO
------------------------ */

a.Pseudo {
  font-size: 32px;
  color: #000000;
}

a.Pseudo:hover {
  color: hotpink;
}

/* -----------------------
   STRUCTURE & LAYOUT
------------------------ */

.container {
  display: flex;
  flex-wrap: wrap; /* pour le responsive */
  align-items: flex-start;
  gap: 3rem;
  margin-top: 0;
   /* corrige "justify-content: space" */
}

.left {
  width: 200px;
}

.right {
  width: auto;
}

/* -----------------------
   IMAGES
------------------------ */

img.MIRROIR {
  height: 128px;
}

/* -----------------------
   PARAGRAPHES
------------------------ */

p {
  font-family: 'Terminal';
  font-size: 128px;
  margin: 0;
}

p.heure {
  font-size: 200px;
}

p:hover {
    color: aliceblue;
    background-color: black;
    margin: 0;
}
